<div class="container-fluid">
  <div id="gallery" class="row carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#gallery" data-slide-to="0" class="active"></li>
      <li data-target="#gallery" data-slide-to="1"></li>
      <li data-target="#gallery" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="/assets/kochi.jpg">
      </div>
      <div class="item">
        <img src="/assets/kudremukh.jpg">
      </div>
      <div class="item">
        <img src="/assets/vagamon.jpg">
      </div>
    </div>
    <a class="left carousel-control" href="#gallery" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#gallery" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/assets/kochi.jpg">
        <div class="caption">
          Kochi
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/assets/kudremukh.jpg">
        <div class="caption">
          Kudremukh
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/assets/vagamon.jpg">
        <div class="caption">
          Vagamon
        </div>
      </div>
    </div>
  </div>
</div>