<div class="container-fluid">
  <div id="carousel" class="row carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel" *ngFor="let image of images; let i = value" [attr.data-slide-to]="i" 
          ngClass="{{ image.isActive ? 'active' : ''}}"></li>
      <!-- <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li> -->
    </ol>
    <div class="carousel-inner">
      <div class="item" ngClass="{{image.isActive ? 'active' : ''}}" *ngFor="let image of images">
        <img src="{{image.link}}" alt="{{image.name}}" title="{{image.name}}">
      </div>
    </div>
    <a class="left carousel-control" href="#carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let image of images">
      <div class="thumbnail">
        <img src="{{image.link}}">
        <div class="caption">
          {{image.name}}
        </div>
      </div>
    </div>
  </div>
</div>