/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}

body { 
    height: 100%;
}

app-dashboard {
    height: 100%;
}

.carousel {
    height: 50%;
}
.carousel-inner {
    height: 100%;
}
